<div id="mainContainer">
<!-- <div id="mainContainer" [ngStyle]="{'width.px': cellAmtX * 17}"> -->
  
  <div id="cellContainer">
    <div *ngFor="let cellArr of cells; index as i" class="cell-row">
      <div *ngFor="let cell of cellArr; index as j" class="cell" [ngClass]="cell.alive ? 'alive' : 'dead'" (click)="toggleCell(cell)" 
      [ngStyle]="{'background-color': cell.alive ? 'rgb('+ cell.color?.r +','+ cell.color?.g +','+ cell.color?.b +')' : 'rgba(0,0,0,0)'}">
      </div>
    </div>
  </div>

</div>

<div id="UIContainer">
  <div id="controlContainer">
    <div id="buttonContainer">
      <button *ngIf="!gameRunning" (click)="start()">Start</button>
      <button *ngIf="gameRunning" (click)="stop()">Stop</button>
      <button *ngIf="!gameRunning" (click)="reset()">Reset</button>

      <input type="color" [(ngModel)]="userColorHex" name="userColor" (ngModelChange)="updateColorRgb()">

      <button *ngIf="!gameRunning" (click)="print()">Print Cells</button>
    </div>
  </div>

  <div id="frames">
    Frame: {{this.frame}}
  </div>
</div>